body {
  background-color: #090A0E;
  color: white;
}

.max-center {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1000px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 15px;
  background-color: #2c3042;  
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.movie-cover {
  width: 100%;
}

.movie-placeholder {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  min-height: 500px;
  background-position: center;
  /* background-size: 1030px; */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.hero-content {
  padding-bottom: 60px;
}

.hero-title {
  font-size: 72px;
  margin: 0;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.hero-plot {
  text-shadow: 2px 2px 4px #000000;
}

.button {
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
}